---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import Introduction from "../components/Introduction.astro";
import Audiences from "../components/Audiences.astro";
import Catalogue from "../components/Catalogue.astro";
---
<Base>
  <Hero />
  <main>
    <Introduction />
    <Audiences />
    <Catalogue />
  </main>
</Base>
