---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import Audiences from "../components/Audiences.astro";
import Cta from "../components/Cta.astro";
import Catalogue from "../components/Catalogue.astro";
---
<Base>
  <Hero />
  <main>
    <Audiences />
    <Cta />
    <Catalogue />
  </main>
</Base>
